.post{
  background-color: transparent !important;
  .ant-modal-content{
    background-color: transparent !important;
    box-shadow: none !important;
  }
  .ant-modal-body{
    padding: 0 !important;
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    box-shadow: none !important;
  }
}
.ant-modal-mask{
  background-color: rgba(0, 0, 0, 0.65) !important;
}



@media (max-width: 980px) {
  .post{
    .ant-modal-body{
      padding: 8px !important;
    }
  }
}